---
layout: default
---

<article class="article">
  <header>
    <div class="page-head">
      <h1>{{ page.title }}</h1>
      <p class="path"><span aria-hidden="true">&gt;</span> cat {{ page.url | remove: '.html' }}</p>
    </div>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%b %-d, %Y' }}</time>
  </header>

  {% if page.collection == 'matter' and page.link %}
    {% assign project_url = page.link | remove: 'https://' | remove: 'http://' %}
    <p class="project-link"><span>link</span> <a href="{{ page.link }}">{{ project_url }}</a></p>
  {% endif %}

  <div class="body">
    {{ content }}
  </div>
</article>
